In [ ]:
# Ejercicio 1.
# Crea un dataframe con 15 filas y 2 columnas. La primera columna se llamará x, la segunda y.
# Cada entrada será un número real a tu elección.
# Guarda el dataframe en una variable llamada points

import pandas as pd
points = {"x":[1,2,3,-4,5,6,-7,8,9,-10,11,12,13,14,15], "y":[2,4,6,8,-10,12,14,-16,18,20,20,12,13,14,15]}
points_1 = pd.DataFrame(data=points)
print(points_1)

     x   y
0    1   2
1    2   4
2    3   6
3   -4   8
4    5 -10
5    6  12
6   -7  14
7    8 -16
8    9  18
9  -10  20
10  11  20
11  12  12
12  13  13
13  14  14
14  15  15

In [ ]:
# Ejercicio 2
# Del dataset points, muestra las filas cuyo valor en la columna x sea positivo.
points_1[points_1['x'] > 0]

     x   y
0    1   2
1    2   4
2    3   6
4    5 -10
5    6  12
7    8 -16
8    9  18
10  11  20
11  12  12
12  13  13
13  14  14
14  15  15

In [ ]:
# Ejercicio 3
# Del dataset points, muestra las filas cuyo valor en la columna "y" sea negativo. Usa el método .query().
y_negative = points_1.query('y < 0')
print(y_negative)

   x   y
4  5 -10
7  8 -16

In [ ]:
# Ejercicio 4labras_encadenadas("imagine","esfuerzo")
# Del dataset points, muestra las observaciones cuyos puntos (x, y) pertenezcan al primer cuadrante. Usa el método .query().
first_cuadrant = points_1.query("x > 0 and y > 0")
print(first_cuadrant)

     x   y
0    1   2
1    2   4
2    3   6
5    6  12
8    9  18
10  11  20
11  12  12
12  13  13
13  14  14
14  15  15

In [ ]:
# Ejercicio 5
# Del dataset points, muestra las observaciones de la forma: “El punto ({x}, {y}) {no/sí} pertenece al primer cuadrante”.
for p in points_1.itertuples():
  print("El punto ({}, {}) {} pertenece al primer cuadrante".format(p[1],p[2],"si" if p[1] > 0 and p[2] > 0 else "no"))

El punto (1, 2) si pertenece al primer cuadrante
El punto (2, 4) si pertenece al primer cuadrante
El punto (3, 6) si pertenece al primer cuadrante
El punto (-4, 8) no pertenece al primer cuadrante
El punto (5, -10) no pertenece al primer cuadrante
El punto (6, 12) si pertenece al primer cuadrante
El punto (-7, 14) no pertenece al primer cuadrante
El punto (8, -16) no pertenece al primer cuadrante
El punto (9, 18) si pertenece al primer cuadrante
El punto (-10, 20) no pertenece al primer cuadrante
El punto (11, 20) si pertenece al primer cuadrante
El punto (12, 12) si pertenece al primer cuadrante
El punto (13, 13) si pertenece al primer cuadrante
El punto (14, 14) si pertenece al primer cuadrante
El punto (15, 15) si pertenece al primer cuadrante

In [ ]:
# Ejercicio 6.

import pandas as pd
e6 = {"word":["euro", "diez", "algas", "broma", ""], "lenght":[], "vowels":[], "consonants":[]}
words = pd.DataFrame(data=e6)labras_encadenadas("imagine","esfuerzo")
print(words)